@import "tailwindcss";

:root {
  --qp1: #61a9f1;
  --qp2: #487EB5;
  --qp3: #1e3353;
  --alt1: #4848b5;
  --alt2: #48b5b5;
  --prog1: #5dd39e;
  --prog2: #38b88f;
  --bg: #24252A;
  --fg: #ffffff;

  --gradient-alt: linear-gradient(90deg, var(--alt1), var(--alt2));
  --gradient-prog: linear-gradient(135deg, var(--prog1), var(--prog2));
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-geist-sans);
}
